.container {
    height: 1000px;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.class1 {
    background-color: green;
    height: 150px;
    width: 150px;
}

.class2 {
    background-color: yellow;
    height: 150px;
    width: 150px;
}

.class3 {
    background-color: red;
    height: 150px;
    width: 150px;
}